.idea/
.venv/
.vscode/
*.retry

# Python
*.pyc
*.pyo
.pytest_cache/
__pycache__/

# Ranger
dotfiles/home/config/ranger/history
dotfiles/home/config/ranger/bookmarks
dotfiles/home/config/ranger/tagged

# Karabiner-Elements
dotfiles/home/config/karabiner/automatic_backups/

# Remove uuid from fonts
dotfiles/home/local/share/fonts/**/.uuid
