[submodule "private"]
	path = private
	url = git@gitlab.com:mariuszkorzekwa/private-labs.git
[submodule "dotbot"]
	path = .dotbot
	url = https://github.com/anishathalye/dotbot
[submodule "ansible-aur"]
	path = apps/modules/ansible-aur
	url = https://github.com/kewlfft/ansible-aur.git
    ignore = untracked
[submodule "Vundle.vim"]
	path = dotfiles/home/vim/bundle/Vundle.vim
	url = https://github.com/VundleVim/Vundle.vim.git
    ignore = untracked
[submodule "tabular"]
	path = dotfiles/home/vim/bundle/tabular
	url = https://github.com/godlygeek/tabular
    ignore = untracked
[submodule "vim-grammarous"]
	path = dotfiles/home/vim/bundle/vim-grammarous
	url = https://github.com/rhysd/vim-grammarous
    ignore = untracked
[submodule "vim-javascript"]
	path = dotfiles/home/vim/bundle/vim-javascript
	url = https://github.com/pangloss/vim-javascript
    ignore = untracked
[submodule "vim-json"]
	path = dotfiles/home/vim/bundle/vim-json
	url = https://github.com/elzr/vim-json
    ignore = untracked
[submodule "vim-markdown"]
	path = dotfiles/home/vim/bundle/vim-markdown
	url = https://github.com/tpope/vim-markdown
    ignore = untracked
